<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Set page title -->
  <title>FDA Food Recalls</title>

  <!-- Link css stylesheets -->
  <!-- <link rel="stylesheet" href="reset.css"> -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Include required js elements for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Set body background to light gray -->
    <style type="text/css">
      body { background: #ededed !important; }
    </style> 

  <!-- Add navbar -->
  <nav class="navbar navbar-custom navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="../">FDA Food Recalls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../past_recalls/">Past Recalls</a>
              <a class="dropdown-item" href="../current_recalls/">Recent Recalls</a>
              <a class="dropdown-item" href="../recalls_by_state/">Trends Over Time</a>
            </div>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="../data/2019-01-01/2019-05-01">Data</a>
          </li>
      </ul>
    </div>
  </nav>

    <div class="container-fluid p-4">
      <section class="row d-flex justify-content-between mb-3">
        <section class="col-sm-12">
            <div class="card">
                <div class="card-body pb-1">
                    <h4><b>FDA Food Recalls: Project Overview</b></h4>
                    <hr class="my-3">
                    <p class="spacing">The purpose of this project was to develop a 
                      full-stack application based on data on food recalls made available 
                      by the US Food & Drug Administration via the 
                      <a href="https://open.fda.gov/">OpenFDA</a> portal.</p>
                    <p class="spacing">To accomplish this, data was gathered, 
                      cleaned using Python and pandas, and converted to a SQLite database 
                      with over 4,000 records of food recalls between 2012 and 2019. 
                      Flask was then used to create the necessary routes to serve the HTML 
                      pages and query the database.  Visualizations were generated using Plotly, 
                      Leaflet, and JSCharting. Additionally, Popper.js and noUiSlider were used 
                      for HTML elements. User input is gathered via Javascript, data is 
                      retrieved from the database or fda.gov API, and visualizations are 
                      subsequently generated based on user-selected filters.</p>
                </div>
            </div>
        </section>
      </section>

      <section class="row d-flex justify-content-between">
        <section class="col-sm-12">
            <div class="card">
                <div class="card-body">
                  <h5><strong>Visualizations</strong></h5>
                  <hr class="my-3">
                  <div class="card-group">

                    <div class="col-md-4 hidden-link">
                      <a href="past_recalls/"><div class="card border-primary mb-3 image">
                        <div class="card-body">
                          <h5 class="card-title">Explore Past Recalls</h5>
                        </div>
                        <img class="card-img-bottom" src="/static/images/past_recalls.png" alt="Past Recalls">
                      </div></a>
                    </div>

                    <div class="col-md-4 hidden-link">
                      <a href="current_recalls/"><div class="card border-primary mb-3 image">
                        <div class="card-body">
                          <h5 class="card-title">Explore Recent Recalls</h5>
                        </div>
                        <img class="card-img-bottom" src="/static/images/current_recalls.png" alt="Current Recalls">
                      </div></a>
                    </div>
                    <div class="col-md-4 hidden-link">
                      <a href="recalls_by_state/"><div class="card border-primary mb-3 image">
                        <div class="card-body">
                          <h5 class="card-title">Explore Recalls by State Over Time</h5>
                        </div>
                        <img class="card-img-bottom" src="/static/images/recalls_by_state.png" alt="Recalls by State">
                      </div></a>
                    </div>
                  </div>
                </div>
            </div>
        </section>
      </section>
    </div>  

</body>

</html>
